AMALIA/bin/AMALIA.dll
AMALIA/bin/AMALIA.dll.config
AMALIA/bin/AMALIA.pdb
AMALIA/obj/Debug/AMALIA.csproj.CoreCompileInputs.cache
AMALIA/obj/Debug/AMALIA.dll
AMALIA/obj/Debug/AMALIA.pdb
AMALIA/obj/Release/AMALIA.csproj.CoreCompileInputs.cache
AMALIA/obj/Release/AMALIA.csprojAssemblyReference.cache
AMALIA/obj/Release/AMALIA.dll
AMALIA/obj/Release/AMALIA.pdb
AMALIA/obj/Release/Package/PackageTmp/banner.jpg
AMALIA/obj/Release/Package/PackageTmp/Checklist.aspx
AMALIA/obj/Release/Package/PackageTmp/Checklists.aspx
AMALIA/obj/Release/Package/PackageTmp/DemoRendicion.aspx
AMALIA/obj/Release/Package/PackageTmp/Depositos.aspx
AMALIA/obj/Release/Package/PackageTmp/Hallazgo.aspx
AMALIA/obj/Release/Package/PackageTmp/Imprime_deposito.aspx
AMALIA/obj/Release/Package/PackageTmp/Imprime_hallazgo.aspx
AMALIA/obj/Release/Package/PackageTmp/imprimeChecklist.aspx
AMALIA/obj/Release/Package/PackageTmp/ReporteDepositos.aspx
AMALIA/obj/Release/Package/PackageTmp/Web.config
AMALIA/obj/Release/Package/PackageTmp/bin/AMALIA.dll
AMALIA/obj/Release/Package/PackageTmp/bin/AMALIA.pdb
AMALIA/obj/Release/TransformWebConfig/original/Web.config
AMALIA/obj/Release/TransformWebConfig/transformed/Web.config
