<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- PRODUCCION -->
    <!-- <add name="default" connectionString="Data Source=174.138.184.42;Initial Catalog=tzamora;User Id=tzamora;Password=Peoresnada123;" providerName="System.Data.SqlClient"/> -->
    <!-- TESTING DEVELOP -->
        <add name="default" connectionString="Data Source=174.138.184.42;Initial Catalog=tzamoraDev;User Id=tzamora;Password=Peoresnada123;" providerName="System.Data.SqlClient"/> 


  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <pages clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1" maxQueryStringLength="2097151" maxRequestLength="2097151" executionTimeout="300" maxUrlLength="65536" requestValidationMode="2.0"/>
    <!--LOGIN -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"  path="/" protection="All" name=".TzamoraApp" defaultUrl="Index.aspx" slidingExpiration="true" timeout="180"/>
    </authentication>
    <sessionState timeout="180"></sessionState>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!-- ERROR -->
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/500.html" />
    </customErrors>-->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR"/>
  </system.web>
  <!-- PAGINAS SIN LOGIN -->
  <location path="AUT_OC.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Checklist.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ImprimeChecklist.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SUBE_ARCHIVOS.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DemoRendicion.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>